Flask>=3.1,<4
gunicorn
Authlib
Flask-SQLAlchemy
psycopg[binary]
requests>=2.31,<3
Flask-WTF==1.2.1
email-validator==2.1.0
Flask-Limiter==3.5.0
Flask-WTF==1.2.1
email-validator==2.1.0
Flask-Limiter==3.5.0

